<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.tools.mybatisplus.orm.dao.PlatformUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.summer.tools.mybatisplus.orm.model.PlatformUser">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="username" property="username" />
        <result column="password" property="password" />
        <result column="last_login_time" property="lastLoginTime" />
        <result column="login_error_count" property="loginErrorCount" />
        <result column="tenant_ids" property="tenantIds" />
        <result column="user_type" property="userType" />
        <result column="status" property="status" />
        <result column="profile_photo" property="profilePhoto" />
        <result column="nickname" property="nickname" />
        <result column="birthday" property="birthday" />
        <result column="address" property="address" />
        <result column="mobile" property="mobile" />
        <result column="email" property="email" />
        <result column="gender" property="gender" />
    </resultMap>

</mapper>
