<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.tools.mybatisplus.orm.dao.PlatformTenantDatasourceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.summer.tools.mybatisplus.orm.model.PlatformTenantDatasource">
        <id column="id" property="id" />
        <result column="version" property="version" />
        <result column="is_del" property="isDel" />
        <result column="creator_id" property="creatorId" />
        <result column="updater_id" property="updaterId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="datasource_id" property="datasourceId" />
        <result column="tenant_id" property="tenantId" />
        <result column="tenant_name" property="tenantName" />
        <result column="module" property="module" />
    </resultMap>

</mapper>
