<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.tools.mybatisplus.orm.dao.ProcessTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.summer.tools.mybatisplus.orm.model.ProcessTemplate">
        <id column="template_id" property="templateId" />
        <result column="version" property="version" />
        <result column="is_del" property="isDel" />
        <result column="create_time" property="createTime" />
        <result column="creator_id" property="creatorId" />
        <result column="update_time" property="updateTime" />
        <result column="updater_id" property="updaterId" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="description" property="description" />
        <result column="xml_data" property="xmlData" />
        <result column="status" property="status" />
    </resultMap>

</mapper>
